@import './scss/custom.scss';
// Import the Bootstrap core 
div#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2ECC71;
}

